# Профилилирование и оптимизация выполнения кода

__Автор задач: Блохин Н.В. (NVBlokhin@fa.ru)__

Материалы:
* Макрушин С.В. "Оптимизация выполнения кода, векторизация, Numba"
* IPython Cookbook, Second Edition (2018), глава 4
* https://ipython-books.github.io/43-profiling-your-code-line-by-line-with-line_profiler/

## Задачи для совместного разбора

In [2]:
!pip install line_profiler
# !pip install --user numpy==1.20

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting line_profiler
  Downloading line_profiler-4.0.2-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (673 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 673.6/673.6 KB 11.3 MB/s eta 0:00:00
Installing collected packages: line_profiler
Successfully installed line_profiler-4.0.2

In [3]:
import numpy as np

1. Сгенерируйте массив `A` из `N=1млн` случайных целых чисел на отрезке от 0 до 1000. Пусть `B[i] = A[i] + 100`. Посчитайте среднее значение массива `B`.

In [4]:
A = np.random.randint(0,1001,1000000)
A[:7], len(A)

(array([778, 174, 876, 617, 246, 766, 199]), 1000000)

In [5]:
# тупо
def f(A):
    s, c = 0, 0
    for a in A:
        b = a + 100
        s += b
        c += 1
    return s/c

In [6]:
%%time
f(A)

CPU times: user 347 ms, sys: 435 µs, total: 347 ms
Wall time: 353 ms

599.943123

In [7]:
# исправлено
def f(A):
    return sum(A)/len(A) + 100

In [8]:
%%timeit
f(A)

174 ms ± 94.6 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [9]:
f(A)

599.943123

In [10]:
%%timeit
f(A)

171 ms ± 85.2 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [11]:
A.min(), A.max()

(0, 1000)

In [12]:
%load_ext line_profiler

In [13]:
def slow(A):
    s, c = 0, 0
    for a in A:
        b = a + 100
        s += b
        c += 1
    return s/c

In [100]:
%lprun -f slow slow(A)

In [15]:
%%timeit
B = A + 100
B.mean()

2.65 ms ± 97.7 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

2. Создайте таблицу 2млн строк и с 4 столбцами, заполненными случайными числами. Добавьте столбец `key`, которые содержит элементы из множества английских букв. Выберите из таблицы подмножество строк, для которых в столбце `key` указаны первые 5 английских букв.

In [16]:
import pandas as pd
import string

N = 2_000_000
df = pd.DataFrame(np.random.randn(N, 4), columns=[f"col{i}" for i in range(4)])
df["key"] = np.random.choice(list(string.ascii_letters.lower()), N, replace=True)
df.head(2)

      col0      col1      col2      col3 key
0 -1.26342  1.707213 -0.863306 -1.112995   s
1  0.06061  0.590105  2.058300 -0.669511   y

In [17]:
%%timeit
df[df['key'].isin(set(string.ascii_letters[:5]))]

134 ms ± 29 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [18]:
%%timeit
df[df['key'].isin(['a', 'b', 'c', 'd', 'e'])]

134 ms ± 23.4 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [19]:
%%timeit
df[df['key'] <= 'e']

166 ms ± 42 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [20]:
df[df['key'].isin(list(string.ascii_letters.lower())[:5])]

             col0      col1      col2      col3 key
2        1.162012  1.257318  0.999725 -0.520977   b
13      -0.719597  0.699139 -2.910598 -0.371704   e
22      -0.088064 -0.744626  0.636114 -1.537266   b
40       0.269133 -0.760796 -0.745792 -1.023436   b
41       0.500429 -2.564897  0.682327 -0.426440   b
...           ...       ...       ...       ...  ..
1999974 -0.940668 -0.928623  0.194177 -0.366606   e
1999975  0.360805 -0.429494 -0.432076  0.271763   e
1999982  0.506294  2.006006  0.824587 -1.606037   c
1999988 -1.967922 -1.619738 -1.249026  0.945247   e
1999992  1.501242 -0.767835  1.469646  1.019368   e

[384165 rows x 5 columns]

In [22]:
df[df['key'].isin(list(string.ascii_lowercase[:5]))]

             col0      col1      col2      col3 key
2        1.162012  1.257318  0.999725 -0.520977   b
13      -0.719597  0.699139 -2.910598 -0.371704   e
22      -0.088064 -0.744626  0.636114 -1.537266   b
40       0.269133 -0.760796 -0.745792 -1.023436   b
41       0.500429 -2.564897  0.682327 -0.426440   b
...           ...       ...       ...       ...  ..
1999974 -0.940668 -0.928623  0.194177 -0.366606   e
1999975  0.360805 -0.429494 -0.432076  0.271763   e
1999982  0.506294  2.006006  0.824587 -1.606037   c
1999988 -1.967922 -1.619738 -1.249026  0.945247   e
1999992  1.501242 -0.767835  1.469646  1.019368   e

[384165 rows x 5 columns]

## Лабораторная работа 1

__При решении данных задач не подразумевается использования циклов или генераторов Python в ходе работы с пакетами `numpy` и `pandas`, если в задании не сказано обратного. Решения задач, в которых для обработки массивов `numpy` или структур `pandas` используются явные циклы (без согласования с преподавателем), могут быть признаны некорректными и не засчитаны.__

В файлах `recipes_sample.csv` и `reviews_sample.csv` находится информация об рецептах блюд и отзывах на эти рецепты соответственно. Загрузите данные из файлов в виде `pd.DataFrame` с названиями `recipes` и `reviews`. Обратите внимание на корректное считывание столбца(ов) с индексами. Приведите столбцы к нужным типам.

In [175]:
recipes = pd.read_csv('recipes_sample.csv', parse_dates=['submitted'])
reviews = pd.read_csv('reviews_sample.csv')

In [24]:
recipes.head()

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN

In [25]:
reviews.head()

,Unnamed: 0,user_id,recipe_id,date,rating,review
0,370476,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
1,624300,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
2,187037,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
3,706134,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
4,312179,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...

## Измерение времени выполнения кода

Создайте версию таблицы, содержащие строки строки для рецептов, которые были добавлены в 2010 году.

Реализуйте несколько вариантов функции подсчета средней длины полного описания рецепта для рецептов, добавленных в 2010 году. Полным описанием рецепта называется строка, полученная путем конкатенации названия и описания рецепта через пробел.

In [26]:
df1 = recipes[recipes['submitted'].dt.year == 2010]
df1.head()

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
52,just peachy cobbler,437637,70,1085867,2010-09-17,10.0,all i can say is yummmmmm . . . a simple to ma...,10.0
68,the heat spicy party mix,437219,95,1682162,2010-09-13,NaN,a spicy chex mix that will really warm your gu...,11.0
81,iowa state fair sweet dough caramel cinnamon ...,435816,80,17803,2010-08-24,29.0,this was the winning entry at the 2010 iowa st...,NaN
104,1 minute blueberries cream,428566,2,1375473,2010-06-04,4.0,i was craving blueberry tonight but wanted non...,NaN
146,2 2 2 diet mocha,416599,5,789314,2010-03-15,5.0,"while trying to come up with a satisfying ""sna...",7.0

№1\.1 С использованием метода `DataFrame.iterrows` таблицы:

- функция принимает на вход таблицу, содержащую рецепты за 2010 год;
    
- вычисление полного описания рецепта осуществляется внутри цикла по `iterrows` для каждой строки по отдельности.

In [27]:
def get_mean_len_A(df: pd.DataFrame) -> float:
    s = k = 0
    for i in df.iterrows():
        s += len(i[1][0]) + len(i[1][6]) + 1
        k += 1
    return s/k

get_mean_len_A(df1)

265.501300390117

№1\.2. С использованием метода `DataFrame.apply` таблицы:

- функция принимает на вход таблицу, содержащую рецепты за 2010 год;
    
- вызываете метод apply у таблицы; в качестве аргумента передаете функцию, которая возвращает длину полного описания для каждой строки;
    
- считаете среднюю длину описаний, вызвав соответствующий метод серии.

In [32]:
def get_mean_len_B(df: pd.DataFrame) -> float:
    ser = df.apply(lambda x: len(x['name']) + len(x['description']) + 1, axis=1)
    return ser.mean()

get_mean_len_B(df1)

265.501300390117

№1\.3. С использованием векторизованных методов серий `pd.Series`:

- функция принимает на вход таблицу, содержащую рецепты за 2010 год;
    
- при помощи векторизованной операции сложения получаете столбец с полным описанием;
    
- считаете длину каждого элемента столбца с полным описанием, воспользовавшись соответствующим строковым методом аксессора `.str`;
    
- считаете среднюю длину описаний, вызвав соответствующий метод серии.

In [106]:
def get_mean_len_C(df):
    vec_desc = np.vectorize(lambda x,y: ' '.join([x,y]))
    return pd.Series(vec_desc(df['name'],df['description'])).str.len().mean()

get_mean_len_C(df1)

265.501300390117

№1.4 Проверьте, что результаты работы всех написанных функций корректны и совпадают. Измерьте выполнения всех написанных функций при помощи магических команд `time` и `timeit`.

In [95]:
%%timeit
get_mean_len_A(df1)

77.5 ms ± 11.3 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [96]:
%%timeit
get_mean_len_B(df1)

26.1 ms ± 982 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [108]:
%%timeit
get_mean_len_C(df1)

9.4 ms ± 1.76 ms per loop (mean ± std. dev. of 7 runs, 100 loops each)

## **Вывод**
* Apply уменьшает время в $\sim$ 3 раза
* Векторизация уменьшает время в $\sim$ 8 раза

## Анализ пошагового выполнения кода

Вам предлагается воспользоваться функцией, которая собирает статистику о том, сколько отзывов содержат то или иное слово.

In [176]:
import re


def get_word_reviews_count(df):
    word_reviews = {}
    for review_id, row in df.dropna(subset=["review"]).iterrows():
        review = row["review"]
        words = re.sub(r"[^A-Za-z\s]", "", review).split(" ")
        for word in words:
            if word.lower() not in word_reviews:
                word_reviews[word.lower()] = set()
            word_reviews[word.lower()].add(review_id)
    word_reviews_count = {}
    for _, row in df.dropna(subset=["review"]).iterrows():
        review = row["review"]
        words = re.sub(r"[^A-Za-z\s]", "", review).split(" ")
        for word in words:
            word_reviews_count[word.lower()] = len(word_reviews[word.lower()])
    return word_reviews_count

In [177]:
get_by_bad = get_word_reviews_count(reviews)

In [178]:
get_by_bad

{'last': 4517,
 'week': 1489,
 'whole': 5540,
 'sides': 435,
 'of': 61867,
 'frozen': 2722,
 'salmon': 819,
 'fillet': 86,
 'was': 56972,
 'on': 28791,
 'sale': 255,
 'in': 43940,
 'my': 44544,
 'local': 565,
 'supermarket': 93,
 'so': 39441,
 'i': 101329,
 'bought': 1490,
 'tons': 184,
 'okay': 717,
 'only': 13679,
 '': 89125,
 'but': 36936,
 'total': 557,
 'weight': 290,
 'over': 8762,
 'pounds': 275,
 'this': 83593,
 'recipe': 54531,
 'is': 41236,
 'perfect': 8643,
 'for': 75829,
 'even': 8881,
 'though': 4791,
 'it': 73971,
 'calls': 513,
 'steaks': 434,
 'cut': 6416,
 'up': 14352,
 'the': 95894,
 'into': 6364,
 'individual': 304,
 'portions': 209,
 'and': 97007,
 'followed': 5450,
 'instructions': 971,
 'exactly': 4678,
 'im': 7768,
 'one': 15973,
 'those': 2408,
 'food': 3473,
 'combining': 82,
 'diets': 45,
 'left': 4958,
 'out': 22223,
 'white': 3493,
 'wine': 1580,
 'added': 19387,
 'just': 23483,
 'a': 84192,
 'dash': 617,
 'vinegar': 1641,
 'instead': 11221,
 'little': 14634,
 'bit': 9864,
 'not': 21121,
 'enough': 5231,
 'to': 72118,
 'change': 4390,
 'taste': 10551,
 'dish': 8447,
 'super': 2727,
 'yummy': 6943,
 'leftovers': 2337,
 'lunch': 2407,
 'today': 1992,
 'lucky': 146,
 'me': 9996,
 'simple': 5471,
 'tasty': 8423,
 'used': 37654,
 'yellow': 835,
 'capsicum': 57,
 'place': 2075,
 'green': 4325,
 'because': 10709,
 'thats': 2284,
 'what': 9595,
 'had': 23660,
 'hand': 3796,
 'came': 5275,
 'together': 5208,
 'fast': 1540,
 'meal': 4105,
 'if': 8744,
 'you': 24445,
 'dont': 7555,
 'have': 28718,
 'lot': 3923,
 'time': 21113,
 'easy': 23098,
 'healthy': 1985,
 'thanks': 36090,
 'stardustannie': 11,
 'made': 42751,
 'pac': 1868,
 'fall': 1360,
 'very': 29183,
 'nice': 9727,
 'breakfast': 2113,
 'hh': 7,
 'make': 32226,
 'with': 43928,
 'fresh': 7360,
 'hot': 4073,
 'coffe': 16,
 'toast': 702,
 'served': 8272,
 'by': 6501,
 'paula': 220,
 'g': 227,
 'that': 29861,
 'earlier': 213,
 'turned': 6550,
 'great': 29744,
 'will': 24590,
 'be': 22467,
 'regular': 3040,
 'our': 6642,
 'house': 2475,
 'dh': 4219,
 'loved': 15972,
 'them': 17720,
 'these': 19041,
 'are': 13284,
 'favorite': 3335,
 'holidays': 360,
 'children': 449,
 'we': 19011,
 'also': 16420,
 'use': 15516,
 'rolo': 13,
 'candies': 74,
 'kisses': 75,
 'excellent': 5795,
 'soup': 5427,
 'tomato': 2155,
 'flavor': 12453,
 'freezer': 1247,
 'tag': 3359,
 'froze': 674,
 'beautifully': 837,
 'prepared': 1072,
 'as': 27215,
 'directed': 1338,
 'then': 8390,
 'allowed': 230,
 'cool': 1250,
 'container': 329,
 'thawed': 283,
 'fridge': 1418,
 'reheated': 300,
 'stovetop': 250,
 'worked': 3383,
 'perfectly': 1917,
 'forgot': 1398,
 'add': 11996,
 'skim': 432,
 'milk': 4678,
 'still': 6929,
 'tasted': 4527,
 'pretty': 3889,
 'good': 29259,
 'dancer': 71,
 'dinner': 5843,
 'finally': 736,
 'found': 5082,
 'tuna': 521,
 'casserole': 1126,
 'enjoy': 1609,
 'when': 10091,
 'snapped': 10,
 'picture': 557,
 'review': 1980,
 'toasted': 826,
 'pecans': 891,
 'at': 14129,
 'party': 1970,
 'prime': 93,
 'rib': 282,
 'ten': 217,
 'stars': 3639,
 'lennie': 84,
 'combination': 2219,
 'flavors': 3189,
 'reduce': 922,
 'rice': 4425,
 'cilantro': 1119,
 'next': 12834,
 'sharing': 11609,
 'honkitten': 40,
 'oh': 2774,
 'bergy': 184,
 'wonderful': 10672,
 'cakes': 608,
 'awesome': 3782,
 'put': 7919,
 'get': 6423,
 'fish': 1183,
 'where': 1027,
 'live': 483,
 'yuck': 59,
 'am': 5868,
 'tired': 165,
 'trying': 1918,
 'new': 3369,
 'recipes': 3966,
 'help': 921,
 'lack': 180,
 'quality': 474,
 'problem': 1281,
 'did': 16650,
 'cloves': 1127,
 'garlic': 7729,
 'seasoned': 880,
 'bread': 6065,
 'crumbs': 1048,
 'smash': 31,
 'seasoning': 2771,
 'has': 4725,
 'no': 6845,
 'salt\r\ni': 6,
 'tartar': 82,
 'sauce': 12506,
 'go': 3994,
 '\r\nthank': 75,
 'moist': 3926,
 'cornbread': 446,
 'two': 4567,
 'days': 1154,
 'later': 904,
 'less': 3246,
 'sugar': 7830,
 'honey': 1719,
 'farm': 130,
 'butterand': 3,
 'corn': 2338,
 'about': 11644,
 'ears': 52,
 'ribs': 1041,
 'grill': 1218,
 'ive': 6055,
 'been': 5558,
 'making': 10748,
 'past': 537,
 'several': 1735,
 'years': 2530,
 'its': 9523,
 'always': 4126,
 'extremely': 694,
 'posting': 9896,
 'generic': 31,
 'sweetened': 252,
 'condensed': 223,
 'works': 949,
 'well': 10187,
 'tastes': 3080,
 'costs': 20,
 'usually': 1987,
 'walmart': 39,
 'brand': 404,
 'exceptional': 112,
 'delicious': 17546,
 'really': 18538,
 'liked': 5525,
 'weekday': 73,
 'leftover': 1829,
 'looking': 3164,
 'different': 3953,
 'ways': 497,
 'ground': 2232,
 'beef': 2792,
 'love': 11134,
 'sandwich': 1089,
 'alot': 618,
 'sooo': 763,
 'lite': 184,
 'brown': 3657,
 'mustard': 1371,
 'horse': 7,
 'relish': 210,
 'some': 17691,
 'olives': 811,
 'ons': 2,
 'balsamic': 526,
 'dressingit': 3,
 'mind': 489,
 'cbreezie': 2,
 'affordable': 33,
 'addicting': 108,
 'household': 156,
 'blessings': 9,
 'chef': 1400,
 'never': 5117,
 'apple': 1434,
 'orange': 1533,
 'juice': 3470,
 'makes': 3463,
 'all': 16757,
 'difference': 1187,
 'texture': 3476,
 'wonderful\r\nthank': 5,
 'were': 17396,
 'grated': 936,
 'cheddar': 1768,
 'cheese': 9807,
 'top': 5989,
 'minutes': 6982,
 'before': 7668,
 'they': 17180,
 'done': 2461,
 'best': 6089,
 'pizza': 969,
 'dough': 2460,
 'other': 7346,
 'tried': 4740,
 'machine': 654,
 'way': 7988,
 'too': 14520,
 'sticky': 571,
 'leaving': 376,
 'msg': 98,
 'fine': 2077,
 'divide': 60,
 'half': 7068,
 'knead': 102,
 'floured': 85,
 'surface': 93,
 'few': 4700,
 'times': 3204,
 'stretch': 80,
 'cirle': 1,
 'like': 18605,
 'bake': 2030,
 'castiron': 25,
 'skillet': 587,
 'brush': 154,
 'pan': 4572,
 'olive': 2110,
 'oil': 4768,
 'sprinkle': 638,
 'crust': 2002,
 'lowest': 29,
 'rack': 335,
 'oven': 4582,
 'saw': 761,
 'giada': 10,
 'show': 208,
 'month': 463,
 'wanted': 2773,
 'compare': 147,
 'family': 8197,
 'being': 1961,
 'marsala': 65,
 'dry': 2819,
 'red': 4511,
 'chickenturkey': 4,
 'sausage': 1435,
 'cutting': 586,
 'sausages': 141,
 'finishing': 135,
 'cooking': 5193,
 'stove': 763,
 'traditionally': 32,
 'serves': 175,
 'peppers': 1999,
 'polentathis': 1,
 'compared': 138,
 'probably': 2797,
 'calories': 642,
 'heats': 13,
 'kitchen': 951,
 'summertime': 77,
 'meatloaf': 452,
 'took': 3957,
 'reviewers': 880,
 'suggestion': 620,
 'another': 5230,
 'crock': 965,
 'pot': 2253,
 'sweet': 6564,
 'tangy': 424,
 'wonder': 296,
 'addition': 2182,
 'again': 19245,
 'deliciously': 121,
 'can': 8861,
 'literally': 175,
 'thrown': 106,
 'soups': 336,
 'ever': 4501,
 'uncomplicated': 12,
 'from': 11826,
 'appealed': 21,
 'simplicity': 224,
 'quick': 5404,
 'could': 6252,
 'both': 3100,
 'anything': 1807,
 'see': 2310,
 'more': 15884,
 'substance': 24,
 'nothing': 937,
 'thankfully': 54,
 'rustic': 54,
 'roasted': 1292,
 'balance': 528,
 'ingredients': 5740,
 'paul': 23,
 'newman': 3,
 'marinara': 144,
 'cup': 6332,
 'let': 2899,
 'simmer': 428,
 'would': 14678,
 'definitly': 67,
 'much': 14204,
 'plus': 1108,
 'tea': 609,
 'aroma': 365,
 'steeping': 10,
 'five': 816,
 'large': 2130,
 'glass': 628,
 'ice': 1403,
 'enjoyed': 7101,
 'marinade': 1203,
 'jack': 535,
 'daniels': 43,
 'except': 2239,
 'didnt': 15140,
 'marinate': 373,
 'quite': 3760,
 'long': 2353,
 'hours': 2952,
 'grilled': 1276,
 'counter': 186,
 'everyone': 4598,
 'who': 3259,
 'doesnt': 2208,
 'dressed': 67,
 'said': 3742,
 'almost': 2204,
 'teriyaki': 106,
 'baked': 4373,
 'potato': 1804,
 'asparagus': 561,
 'fantastic': 3704,
 'earning': 2,
 'raves': 151,
 'table': 753,
 'homegirl': 14,
 'comforting': 229,
 'lowsodium': 73,
 'lowfat': 457,
 'chicken': 10247,
 'stock': 1013,
 'butter': 6661,
 'dried': 2220,
 'parsley': 1231,
 'do': 7300,
 'than': 9557,
 'an': 10094,
 'hour': 1672,
 'course': 883,
 'breezermom': 39,
 'market': 447,
 'game': 1729,
 'kids': 3748,
 'weekend': 738,
 'your': 6025,
 'cookies': 2103,
 'already': 1771,
 'triple': 225,
 'chocolates': 27,
 'addicted': 91,
 'jam': 529,
 'tend': 203,
 'vinegarphobic': 1,
 'adore': 113,
 'black': 1664,
 'pepper': 5923,
 'increase': 505,
 'once': 2001,
 'strawberries': 750,
 'cook': 4641,
 'down': 3554,
 'masher': 52,
 'break': 206,
 'consistency': 959,
 'kick': 1068,
 'fun': 1120,
 'english': 207,
 'muffins': 1470,
 'peanut': 1179,
 'jelly': 335,
 'sandwiches': 814,
 'wheat': 1794,
 'wish': 953,
 'canning': 154,
 'store': 1671,
 'shelf': 58,
 'started': 907,
 'yesterday': 651,
 'keep': 2263,
 'back': 3492,
 'coffee': 1051,
 'figured': 259,
 'might': 2823,
 'along': 1627,
 'benefits': 55,
 'ok': 1256,
 'buy': 1208,
 'jarred': 135,
 'terrific': 948,
 'early': 293,
 'day': 4627,
 'cant': 4151,
 'wait': 2220,
 'hint': 452,
 'spice': 1760,
 'omitted': 1647,
 'flakes': 1213,
 'small': 3101,
 'tenderness': 48,
 'rub': 419,
 'right': 4536,
 'cold': 1507,
 'yogurt': 1258,
 'whipped': 818,
 'or': 10894,
 'cumin': 837,
 'curry': 769,
 'cinnamon': 2473,
 'try': 9404,
 'chinese': 284,
 'resist': 119,
 'splash': 302,
 'squash': 616,
 'microwave': 1131,
 'minute': 743,
 'blasts': 1,
 'peel': 390,
 'freeze': 856,
 'flesh': 39,
 'carrots': 2078,
 'eaten': 1034,
 'highly': 727,
 'recommend': 1814,
 'yet': 1572,
 'treats': 183,
 'plastic': 281,
 'popsicle': 14,
 'molds': 20,
 'halved': 1321,
 'popsicles': 9,
 'adults': 282,
 'gone': 1045,
 'crazy': 462,
 'eating': 2188,
 'since': 5272,
 'theyre': 628,
 'barb': 103,
 'become': 730,
 'modifications': 239,
 'laziness': 14,
 'semi': 82,
 'breasts': 1300,
 'browned': 769,
 'rest': 2048,
 'through': 1634,
 'omit': 600,
 'avoid': 202,
 'sugaryness': 1,
 'commented': 163,
 'couscous': 258,
 'broth': 2390,
 'soak': 338,
 'margarine': 488,
 'garlicbuttery': 1,
 'certainly': 947,
 'disappoint': 137,
 'miraklegirl': 10,
 'soft': 1671,
 'chewy': 633,
 'loveddd': 1,
 'friends': 1413,
 'chopped': 3068,
 'mars': 4,
 'bar': 320,
 'chocolate': 4170,
 'chips': 2352,
 'charm': 118,
 'definitely': 7281,
 'christmas': 1594,
 'thank': 11353,
 'treat': 1601,
 'dressing': 2722,
 'sesame': 605,
 'seeds': 1079,
 'lamb': 400,
 'marinaded': 68,
 'spices': 1978,
 'simply': 958,
 'any': 6414,
 'salt': 5546,
 'substitution': 159,
 'necessitydidnt': 1,
 'hash': 158,
 'browns': 143,
 'potatoes': 4720,
 'peeked': 5,
 'browning': 369,
 'bottom': 1244,
 'werent': 566,
 'needed': 3002,
 'water': 4613,
 'duh': 19,
 'remember': 686,
 'how': 5241,
 'ill': 5844,
 'redo': 10,
 'die': 474,
 'truly': 721,
 'give': 3257,
 'againbrbri': 4,
 'drumsticks': 80,
 'wings': 438,
 'grocery': 464,
 'low': 2520,
 'sodium': 499,
 'soy': 1136,
 'forget': 274,
 'know': 3662,
 'affected': 68,
 'thicker': 516,
 'barbecue': 231,
 'move': 96,
 'fluid': 31,
 'thicken': 763,
 'starch': 238,
 'flour': 3954,
 'stated': 933,
 'mom': 1171,
 'northern': 86,
 'ireland': 22,
 'introduced': 38,
 'marmite': 14,
 'age': 63,
 'rye': 158,
 'dip': 1286,
 'eggs': 1826,
 'paulas': 16,
 'peach': 267,
 'dump': 87,
 'cake': 4346,
 'forward': 794,
 'her': 1271,
 'call': 571,
 'future': 788,
 'dessert': 1659,
 'fix': 549,
 'short': 505,
 'notice': 193,
 'wow': 3144,
 'amazing': 3139,
 'stuff': 1394,
 'hokey': 3,
 'pokey': 6,
 'icecream': 89,
 'this\ni': 5,
 'shocked': 69,
 'complete': 273,
 'colour': 180,
 'after': 6860,
 'stirring': 258,
 'baking': 3524,
 'soda': 415,
 'quick\ni': 1,
 'burned': 234,
 'ours': 330,
 'difficult': 406,
 'spread': 1195,
 'flat': 429,
 'first': 6934,
 'go\nnext': 1,
 'whats': 275,
 'come': 1649,
 'manual': 11,
 'method': 784,
 'directions': 1896,
 'follow': 1078,
 'produced': 157,
 'results': 1258,
 'light': 3188,
 'zaatar': 19,
 'topping': 1799,
 'keeper': 4755,
 'event': 401,
 'recommended': 544,
 'awalde': 10,
 'sorry': 1320,
 'wasnt': 3204,
 'there': 5319,
 'something': 4167,
 'missing': 630,
 'turn': 1169,
 'turmeric': 92,
 'strange': 170,
 'color': 995,
 'unappealing': 20,
 'smelled': 751,
 'carne': 10,
 'asada': 6,
 'maybe': 3132,
 'expecting': 354,
 'cooked': 6528,
 'delightful': 453,
 'while': 3587,
 'grilling': 339,
 'meet': 60,
 'expectations': 94,
 'watching': 233,
 'think': 10135,
 'tweak': 212,
 'sure': 6125,
 'microwaved': 196,
 'spuds': 50,
 'onions': 3648,
 'night': 3541,
 'onion': 4866,
 'each': 2356,
 'their': 1495,
 'flavours': 640,
 'distinctly\r\ngood': 1,
 'veggie': 810,
 'lovely': 2314,
 'beautiful': 1140,
 'thanksgiving': 883,
 'morning': 1588,
 'link': 52,
 'sliced': 2074,
 'fruit': 1196,
 'visiting': 129,
 'grands': 23,
 'kittencal': 773,
 'teach': 25,
 'high': 1495,
 'school': 441,
 'foods': 372,
 'class': 136,
 'studying': 9,
 'legumes': 6,
 'sour': 2483,
 'cream': 7752,
 'tobasco': 57,
 'tortilla': 552,
 'students': 43,
 'look': 1603,
 'single': 362,
 'student': 52,
 'disliked': 21,
 'starting': 259,
 'period': 76,
 'reheating': 67,
 'many': 3194,
 'requested': 373,
 'second': 1665,
 'copy': 160,
 'take': 2302,
 'home': 2216,
 'job': 255,
 'definately': 1251,
 'lemon': 3544,
 'zest': 742,
 'devine': 58,
 'reheat': 180,
 'crunchiness': 41,
 'which': 7397,
 'scone': 107,
 'cranberries': 590,
 'yummobe': 1,
 'heaps': 42,
 'now': 5651,
 'recipe\r\n': 49,
 'momaphet': 14,
 's': 296,
 'ridiculously': 44,
 'crisp': 949,
 'sitting': 368,
 'here': 2926,
 'wishing': 41,
 'batch': 2360,
 'got': 4138,
 'blasting': 2,
 'coconut': 1373,
 'wont': 1303,
 'gems': 53,
 'box': 710,
 'culinary': 170,
 'quest': 162,
 'suitcase': 17,
 'gourmets': 29,
 'quartered': 161,
 'easily': 1056,
 'sarah': 40,
 'us': 3711,
 'scarfed': 63,
 'avocado': 394,
 'finely': 503,
 'fat': 2870,
 'philadelphia': 26,
 'base': 763,
 'dolloped': 5,
 'does': 1868,
 'melt': 551,
 'tfc': 3,
 'edition': 67,
 'canes': 36,
 'mayo': 991,
 'having': 1811,
 'lots': 1352,
 'menorca': 1,
 'rind': 149,
 'find': 3415,
 'may': 2556,
 'round': 658,
 'loose': 109,
 'tin': 328,
 'almond': 754,
 'rapberries': 1,
 'themits': 1,
 'winner': 1348,
 'everytime': 124,
 'needs': 879,
 'tweaked': 171,
 'spicier': 120,
 'taco': 466,
 'homemade': 1602,
 'straightforward': 35,
 'adding': 3838,
 'guacamole': 144,
 'finish': 505,
 'bite': 1070,
 'square': 196,
 'shine': 64,
 'flavorful': 2118,
 'under': 707,
 'skin': 580,
 'rosemary': 823,
 'basil': 1425,
 'overwhelming': 175,
 'blend': 1438,
 'thighs': 592,
 'sooner': 81,
 'summer': 1367,
 'comfort': 1187,
 'cafe': 185,
 'tee': 89,
 'fell': 469,
 'middle': 646,
 'during': 997,
 'wasted': 80,
 'money': 194,
 'garbage': 37,
 'touch': 1058,
 'sounds': 482,
 'although': 1730,
 'replace': 253,
 'cucumber': 360,
 'hate': 426,
 'lol': 1339,
 'pickles': 190,
 'reason': 639,
 'idea': 1721,
 'convert': 56,
 'grams': 135,
 'normal': 340,
 'measurements': 257,
 'hey': 219,
 'guys': 190,
 'why': 1153,
 'option': 315,
 'salad': 4598,
 'roll': 876,
 'should': 2230,
 'miss': 609,
 'lillie': 1,
 'kauitzsch': 1,
 'proud': 93,
 'amp': 611,
 'powder': 3515,
 'timemight': 1,
 'bell': 797,
 'heard': 275,
 'frosting': 1334,
 'penzys': 9,
 'dark': 928,
 'cocoa': 721,
 'poster': 93,
 'tbsp': 927,
 'syrup': 1435,
 'glossy': 21,
 'sift': 31,
 'double': 1935,
 'layer': 801,
 'received': 358,
 'requests': 224,
 'amazed': 144,
 'freezes': 157,
 'check': 239,
 'drink': 1202,
 'most': 2489,
 'everyday': 387,
 'lookout': 43,
 'jazz': 75,
 'fits': 113,
 'bill': 415,
 'own': 2065,
 'grenadine': 39,
 'limes': 158,
 'lemons': 166,
 'sharon': 319,
 'pink': 337,
 'honor': 76,
 'breast': 813,
 'cancer': 39,
 'awareness': 36,
 'october': 106,
 'every': 2369,
 'cuisine': 51,
 'moms': 274,
 'ails': 1,
 'must': 1635,
 'layers': 298,
 'soaking': 138,
 'absorbed': 115,
 'thick': 2159,
 'hearty': 569,
 'peas': 1161,
 'kept': 1210,
 'shape': 329,
 'skip': 284,
 'garnish': 297,
 'provides': 58,
 'thing': 4681,
 'indicated': 142,
 'correct': 233,
 'actually': 2118,
 'takes': 623,
 'longer': 1834,
 'worth': 1590,
 'zwt': 2451,
 'discovery': 14,
 'yogurts': 2,
 'outstanding': 1158,
 'mango': 320,
 'raspberries': 332,
 'firm': 350,
 'berries': 452,
 'mushy': 359,
 'raspberrie': 1,
 'blackberries': 129,
 'blackberrie': 1,
 'using': 6987,
 'staples': 48,
 'doubled': 2381,
 'chiligarlic': 20,
 'chili': 1902,
 'doubling': 288,
 'content': 265,
 'tbs': 412,
 'want': 2735,
 'ahead': 719,
 'pork': 2352,
 'allow': 191,
 'flavour': 1664,
 'meat': 3624,
 'written': 2572,
 'root': 85,
 'beer': 480,
 'concentrate': 99,
 'rootbeer': 9,
 'floats': 6,
 'honest': 120,
 'town': 155,
 'drivein': 3,
 'better': 6313,
 'plan': 794,
 'vegetarian': 648,
 ...}

№2.1 Найдите узкие места в коде, проанализировав код функции по шагам, используя профайлер. Сохраните результаты работы профайлера в отдельную текстовую ячейку. Выпишите (словами), что в имеющемся коде реализовано неоптимально.

In [116]:
%lprun -T lprof0 -f get_word_reviews_count get_word_reviews_count(reviews.head(1000))

*** Profile printout saved to text file 'lprof0'.

In [126]:
f = open('lprof0')
for row in f.readlines():
  print(row)
f.close()

Timer unit: 1e-09 s



Total time: 0.345077 s

File: <ipython-input-110-f37ec2aa0f5d>

Function: get_word_reviews_count at line 4



Line #      Hits         Time  Per Hit   % Time  Line Contents

==============================================================

     4                                           def get_word_reviews_count(df):

     5         1       1192.0   1192.0      0.0      word_reviews = {}

     6      1000   84908893.0  84908.9     24.6      for review_id, row in df.dropna(subset=["review"]).iterrows():

     7      1000   11788551.0  11788.6      3.4          review = row["review"]

     8      1000   15310680.0  15310.7      4.4          words = re.sub(r"[^A-Za-z\s]", "", review).split(" ")

     9     54065   12013038.0    222.2      3.5          for word in words:

    10     49460   22421033.0    453.3      6.5              if word.lower() not in word_reviews:

    11      4605    4567278.0    991.8      1.3                  word_reviews[word.lower()] = set()

    12     54065   34626987.0    640.5     10.0              word_reviews[word.lower()].add(review_id)

    13         1        344.0    344.0      0.0      word_reviews_count = {}

    14      1000   77802338.0  77802.3     22.5      for _, row in df.dropna(subset=["review"]).iterrows():

    15      1000   10503279.0  10503.3      3.0          review = row["review"]

    16      1000   14900226.0  14900.2      4.3          words = re.sub(r"[^A-Za-z\s]", "", review).split(" ")

    17     54065   12183123.0    225.3      3.5          for word in words:

    18     54065   44050311.0    814.8     12.8              word_reviews_count[word.lower()] = len(word_reviews[word.lower()])

    19         1        171.0    171.0      0.0      return word_reviews_count

№2.2  Оптимизируйте функцию и добейтесь значительного (как минимум, в 5 раз) прироста в скорости выполнения. Для демонстрации результата измерьте скорость выполнения оригинальной функции и функции, написанной вами.

In [233]:
def get_word_reviews_count_opt(df):
    word_reviews_count = {}
    df1 = df['review'].dropna()
    for row in df1:
        #print(row)
        words = re.sub("[^A-Za-z\s]", "", row.lower()).split(" ")
        for word in set(words):
            word_reviews_count[word] = word_reviews_count.get(word,0)+1
    return word_reviews_count

In [234]:
lprun -f get_word_reviews_count_opt get_word_reviews_count_opt(reviews.head(100))

In [235]:
get_by_good = get_word_reviews_count_opt(reviews)

In [236]:
get_by_good

{'': 89125,
 'followed': 5450,
 'individual': 304,
 'combining': 82,
 'last': 4517,
 'supermarket': 93,
 'total': 557,
 'tons': 184,
 'of': 61867,
 'bit': 9864,
 'one': 15973,
 'i': 101329,
 'taste': 10551,
 'calls': 513,
 'bought': 1490,
 'my': 44544,
 'steaks': 434,
 'week': 1489,
 'just': 23483,
 'dash': 617,
 'recipe': 54531,
 'diets': 45,
 'instead': 11221,
 'today': 1992,
 'perfect': 8643,
 'up': 14352,
 'super': 2727,
 'left': 4958,
 'portions': 209,
 'im': 7768,
 'into': 6364,
 'this': 83593,
 'exactly': 4678,
 'lunch': 2407,
 'enough': 5231,
 'added': 19387,
 'okay': 717,
 'whole': 5540,
 'only': 13679,
 'though': 4791,
 'pounds': 275,
 'a': 84192,
 'frozen': 2722,
 'fillet': 86,
 'so': 39441,
 'dish': 8447,
 'those': 2408,
 'food': 3473,
 'in': 43940,
 'was': 56972,
 'out': 22223,
 'weight': 290,
 'me': 9996,
 'the': 95894,
 'on': 28791,
 'to': 72118,
 'over': 8762,
 'white': 3493,
 'for': 75829,
 'change': 4390,
 'local': 565,
 'sale': 255,
 'cut': 6416,
 'yummy': 6943,
 'but': 36936,
 'wine': 1580,
 'sides': 435,
 'instructions': 971,
 'is': 41236,
 'it': 73971,
 'lucky': 146,
 'leftovers': 2337,
 'not': 21121,
 'vinegar': 1641,
 'even': 8881,
 'little': 14634,
 'salmon': 819,
 'and': 97007,
 'simple': 5471,
 'thanks': 36090,
 'because': 10709,
 'thats': 2284,
 'hand': 3796,
 'healthy': 1985,
 'had': 23660,
 'green': 4325,
 'have': 28718,
 'time': 21113,
 'yellow': 835,
 'stardustannie': 11,
 'fall': 1360,
 'capsicum': 57,
 'tasty': 8423,
 'meal': 4105,
 'if': 8744,
 'what': 9595,
 'together': 5208,
 'dont': 7555,
 'you': 24445,
 'place': 2075,
 'made': 42751,
 'lot': 3923,
 'fast': 1540,
 'easy': 23098,
 'pac': 1868,
 'used': 37654,
 'came': 5275,
 'be': 22467,
 'hot': 4073,
 'our': 6642,
 'dh': 4219,
 'nice': 9727,
 'g': 227,
 'paula': 220,
 'great': 29744,
 'regular': 3040,
 'will': 24590,
 'make': 32226,
 'hh': 7,
 'coffe': 16,
 'breakfast': 2113,
 'that': 29861,
 'earlier': 213,
 'served': 8272,
 'by': 6501,
 'with': 43928,
 'fresh': 7360,
 'them': 17720,
 'house': 2475,
 'turned': 6550,
 'toast': 702,
 'loved': 15972,
 'very': 29183,
 'use': 15516,
 'these': 19041,
 'favorite': 3335,
 'are': 13284,
 'candies': 74,
 'also': 16420,
 'holidays': 360,
 'children': 449,
 'we': 19011,
 'kisses': 75,
 'rolo': 13,
 'tomato': 2155,
 'then': 8390,
 'allowed': 230,
 'tag': 3359,
 'perfectly': 1917,
 'freezer': 1247,
 'worked': 3383,
 'flavor': 12453,
 'fridge': 1418,
 'container': 329,
 'soup': 5427,
 'beautifully': 837,
 'directed': 1338,
 'as': 27215,
 'thawed': 283,
 'cool': 1250,
 'stovetop': 250,
 'excellent': 5795,
 'reheated': 300,
 'froze': 674,
 'prepared': 1072,
 'milk': 4678,
 'still': 6929,
 'skim': 432,
 'pretty': 3889,
 'dancer': 71,
 'tasted': 4527,
 'good': 29259,
 'forgot': 1398,
 'add': 11996,
 'casserole': 1126,
 'tuna': 521,
 'enjoy': 1609,
 'finally': 736,
 'dinner': 5843,
 'found': 5082,
 'stars': 3639,
 'at': 14129,
 'party': 1970,
 'snapped': 10,
 'rib': 282,
 'ten': 217,
 'lennie': 84,
 'when': 10091,
 'review': 1980,
 'toasted': 826,
 'picture': 557,
 'pecans': 891,
 'prime': 93,
 'reduce': 922,
 'next': 12834,
 'combination': 2219,
 'flavors': 3189,
 'cilantro': 1119,
 'honkitten': 40,
 'rice': 4425,
 'sharing': 11609,
 'trying': 1918,
 'bergy': 184,
 'tired': 165,
 'get': 6423,
 'fish': 1183,
 'sauce': 12506,
 'has': 4725,
 'tartar': 82,
 'wonderful': 10672,
 'garlic': 7729,
 'yuck': 59,
 'live': 483,
 'lack': 180,
 'help': 921,
 'seasoned': 880,
 'go': 3994,
 'crumbs': 1048,
 '\r\nthank': 75,
 'put': 7919,
 'cloves': 1127,
 'salt\r\ni': 6,
 'bread': 6065,
 'smash': 31,
 'seasoning': 2771,
 'am': 5868,
 'quality': 474,
 'cakes': 608,
 'problem': 1281,
 'new': 3369,
 'no': 6845,
 'recipes': 3966,
 'oh': 2774,
 'where': 1027,
 'did': 16650,
 'awesome': 3782,
 'two': 4567,
 'less': 3246,
 'corn': 2338,
 'cornbread': 446,
 'butterand': 3,
 'about': 11644,
 'farm': 130,
 'moist': 3926,
 'honey': 1719,
 'grill': 1218,
 'sugar': 7830,
 'days': 1154,
 'ribs': 1041,
 'ears': 52,
 'later': 904,
 'condensed': 223,
 'posting': 9896,
 'brand': 404,
 'several': 1735,
 'walmart': 39,
 'making': 10748,
 'costs': 20,
 'usually': 1987,
 'years': 2530,
 'well': 10187,
 'tastes': 3080,
 'ive': 6055,
 'sweetened': 252,
 'always': 4126,
 'been': 5558,
 'past': 537,
 'works': 949,
 'extremely': 694,
 'generic': 31,
 'its': 9523,
 'exceptional': 112,
 'delicious': 17546,
 'ways': 497,
 'ground': 2232,
 'liked': 5525,
 'beef': 2792,
 'really': 18538,
 'weekday': 73,
 'different': 3953,
 'looking': 3164,
 'leftover': 1829,
 'sandwich': 1089,
 'some': 17691,
 'cbreezie': 2,
 'lite': 184,
 'mind': 489,
 'balsamic': 526,
 'brown': 3657,
 'mustard': 1371,
 'dressingit': 3,
 'love': 11134,
 'alot': 618,
 'ons': 2,
 'olives': 811,
 'horse': 7,
 'relish': 210,
 'sooo': 763,
 'blessings': 9,
 'household': 156,
 'addicting': 108,
 'affordable': 33,
 'chef': 1400,
 'apple': 1434,
 'difference': 1187,
 'all': 16757,
 'orange': 1533,
 'texture': 3476,
 'makes': 3463,
 'never': 5117,
 'wonderful\r\nthank': 5,
 'juice': 3470,
 'minutes': 6982,
 'were': 17396,
 'cheddar': 1768,
 'grated': 936,
 'they': 17180,
 'top': 5989,
 'done': 2461,
 'before': 7668,
 'cheese': 9807,
 'castiron': 25,
 'few': 4700,
 'oil': 4768,
 'best': 6089,
 'dough': 2460,
 'machine': 654,
 'floured': 85,
 'fine': 2077,
 'too': 14520,
 'leaving': 376,
 'olive': 2110,
 'oven': 4582,
 'bake': 2030,
 'pizza': 969,
 'other': 7346,
 'like': 18605,
 'cirle': 1,
 'stretch': 80,
 'sprinkle': 638,
 'knead': 102,
 'tried': 4740,
 'msg': 98,
 'lowest': 29,
 'surface': 93,
 'times': 3204,
 'sticky': 571,
 'pan': 4572,
 'skillet': 587,
 'divide': 60,
 'rack': 335,
 'way': 7988,
 'half': 7068,
 'brush': 154,
 'crust': 2002,
 'being': 1961,
 'traditionally': 32,
 'dry': 2819,
 'wanted': 2773,
 'finishing': 135,
 'family': 8197,
 'calories': 642,
 'cooking': 5193,
 'polentathis': 1,
 'peppers': 1999,
 'serves': 175,
 'giada': 10,
 'heats': 13,
 'summertime': 77,
 'saw': 761,
 'cutting': 586,
 'sausages': 141,
 'stove': 763,
 'month': 463,
 'compare': 147,
 'show': 208,
 'probably': 2797,
 'red': 4511,
 'sausage': 1435,
 'compared': 138,
 'kitchen': 951,
 'marsala': 65,
 'chickenturkey': 4,
 'sweet': 6564,
 'suggestion': 620,
 'again': 19245,
 'addition': 2182,
 'another': 5230,
 'tangy': 424,
 'meatloaf': 452,
 'pot': 2253,
 'wonder': 296,
 'reviewers': 880,
 'took': 3957,
 'crock': 965,
 'both': 3100,
 'thankfully': 54,
 'can': 8861,
 'appealed': 21,
 'anything': 1807,
 'cup': 6332,
 'quick': 5404,
 'let': 2899,
 'simmer': 428,
 'ever': 4501,
 'paul': 23,
 'ingredients': 5740,
 'roasted': 1292,
 'simplicity': 224,
 'definitly': 67,
 'soups': 336,
 'see': 2310,
 'from': 11826,
 'marinara': 144,
 'balance': 528,
 'more': 15884,
 'rustic': 54,
 'substance': 24,
 'uncomplicated': 12,
 'deliciously': 121,
 'literally': 175,
 'could': 6252,
 'nothing': 937,
 'thrown': 106,
 'newman': 3,
 'would': 14678,
 'much': 14204,
 'tea': 609,
 'enjoyed': 7101,
 'aroma': 365,
 'plus': 1108,
 'large': 2130,
 'ice': 1403,
 'glass': 628,
 'five': 816,
 'steeping': 10,
 'didnt': 15140,
 'said': 3742,
 'jack': 535,
 'marinate': 373,
 'dressed': 67,
 'quite': 3760,
 'hours': 2952,
 'long': 2353,
 'doesnt': 2208,
 'grilled': 1276,
 'teriyaki': 106,
 'potato': 1804,
 'counter': 186,
 'baked': 4373,
 'daniels': 43,
 'everyone': 4598,
 'almost': 2204,
 'asparagus': 561,
 'marinade': 1203,
 'who': 3259,
 'except': 2239,
 'raves': 151,
 'earning': 2,
 'table': 753,
 'homegirl': 14,
 'fantastic': 3704,
 'hour': 1672,
 'course': 883,
 'butter': 6661,
 'an': 10094,
 'comforting': 229,
 'do': 7300,
 'than': 9557,
 'stock': 1013,
 'market': 447,
 'game': 1729,
 'lowfat': 457,
 'lowsodium': 73,
 'breezermom': 39,
 'parsley': 1231,
 'chicken': 10247,
 'dried': 2220,
 'kids': 3748,
 'weekend': 738,
 'your': 6025,
 'chocolates': 27,
 'cookies': 2103,
 'triple': 225,
 'already': 1771,
 'jelly': 335,
 'break': 206,
 'once': 2001,
 'canning': 154,
 'vinegarphobic': 1,
 'adore': 113,
 'muffins': 1470,
 'increase': 505,
 'down': 3554,
 'cook': 4641,
 'sandwiches': 814,
 'kick': 1068,
 'tend': 203,
 'masher': 52,
 'consistency': 959,
 'black': 1664,
 'jam': 529,
 'shelf': 58,
 'store': 1671,
 'wish': 953,
 'wheat': 1794,
 'english': 207,
 'addicted': 91,
 'peanut': 1179,
 'pepper': 5923,
 'fun': 1120,
 'strawberries': 750,
 'along': 1627,
 'might': 2823,
 'benefits': 55,
 'yesterday': 651,
 'coffee': 1051,
 'figured': 259,
 'back': 3492,
 'started': 907,
 'keep': 2263,
 'hint': 452,
 'wait': 2220,
 'jarred': 135,
 'buy': 1208,
 'ok': 1256,
 'terrific': 948,
 'spice': 1760,
 'day': 4627,
 'early': 293,
 'cant': 4151,
 'rub': 419,
 'tenderness': 48,
 'omitted': 1647,
 'flakes': 1213,
 'small': 3101,
 'right': 4536,
 'curry': 769,
 'chinese': 284,
 'minute': 743,
 'yogurt': 1258,
 'resist': 119,
 'splash': 302,
 'or': 10894,
 'squash': 616,
 'freeze': 856,
 'carrots': 2078,
 'eaten': 1034,
 'microwave': 1131,
 'peel': 390,
 'cold': 1507,
 'cinnamon': 2473,
 'cumin': 837,
 'blasts': 1,
 'whipped': 818,
 'try': 9404,
 'flesh': 39,
 'plastic': 281,
 'yet': 1572,
 'molds': 20,
 'eating': 2188,
 'popsicle': 14,
 'halved': 1321,
 'highly': 727,
 'treats': 183,
 'popsicles': 9,
 'become': 730,
 'gone': 1045,
 'barb': 103,
 'crazy': 462,
 'since': 5272,
 'adults': 282,
 'theyre': 628,
 'recommend': 1814,
 'rest': 2048,
 'broth': 2390,
 'laziness': 14,
 'certainly': 947,
 'browned': 769,
 'avoid': 202,
 'through': 1634,
 'omit': 600,
 'commented': 163,
 'breasts': 1300,
 'modifications': 239,
 'miraklegirl': 10,
 'sugaryness': 1,
 'soak': 338,
 'margarine': 488,
 'couscous': 258,
 'garlicbuttery': 1,
 'semi': 82,
 'disappoint': 137,
 'charm': 118,
 'chopped': 3068,
 'bar': 320,
 'friends': 1413,
 'chips': 2352,
 'loveddd': 1,
 'chocolate': 4170,
 'chewy': 633,
 'definitely': 7281,
 'mars': 4,
 'soft': 1671,
 'treat': 1601,
 'christmas': 1594,
 'thank': 11353,
 'lamb': 400,
 'dressing': 2722,
 'sesame': 605,
 'spices': 1978,
 'seeds': 1079,
 'marinaded': 68,
 'hash': 158,
 'simply': 958,
 'browns': 143,
 'peeked': 5,
 'browning': 369,
 'any': 6414,
 'potatoes': 4720,
 'how': 5241,
 'remember': 686,
 'die': 474,
 'werent': 566,
 'necessitydidnt': 1,
 'needed': 3002,
 'substitution': 159,
 'salt': 5546,
 'water': 4613,
 'truly': 721,
 'duh': 19,
 'redo': 10,
 'ill': 5844,
 'bottom': 1244,
 'grocery': 464,
 'low': 2520,
 'barbecue': 231,
 'againbrbri': 4,
 'forget': 274,
 'move': 96,
 'starch': 238,
 'soy': 1136,
 'give': 3257,
 'wings': 438,
 'know': 3662,
 'thicker': 516,
 'thicken': 763,
 'fluid': 31,
 'flour': 3954,
 'affected': 68,
 'drumsticks': 80,
 'sodium': 499,
 'stated': 933,
 'ireland': 22,
 'age': 63,
 'rye': 158,
 'marmite': 14,
 'mom': 1171,
 'northern': 86,
 'eggs': 1826,
 'introduced': 38,
 'dip': 1286,
 'peach': 267,
 'future': 788,
 'short': 505,
 'dump': 87,
 'notice': 193,
 'cake': 4346,
 'forward': 794,
 'her': 1271,
 'dessert': 1659,
 'call': 571,
 'paulas': 16,
 'fix': 549,
 'stuff': 1394,
 'hokey': 3,
 'colour': 180,
 'complete': 273,
 'soda': 415,
 'after': 6860,
 'icecream': 89,
 'pokey': 6,
 'burned': 234,
 'ours': 330,
 'wow': 3144,
 'stirring': 258,
 'go\nnext': 1,
 'whats': 275,
 'baking': 3524,
 'spread': 1195,
 'amazing': 3139,
 'first': 6934,
 'come': 1649,
 'shocked': 69,
 'quick\ni': 1,
 'this\ni': 5,
 'flat': 429,
 'difficult': 406,
 'manual': 11,
 'event': 401,
 'directions': 1896,
 'awalde': 10,
 'follow': 1078,
 'produced': 157,
 'results': 1258,
 'topping': 1799,
 'keeper': 4755,
 'zaatar': 19,
 'method': 784,
 'recommended': 544,
 'light': 3188,
 'sure': 6125,
 'unappealing': 20,
 'grilling': 339,
 'something': 4167,
 'missing': 630,
 'maybe': 3132,
 'sorry': 1320,
 'asada': 6,
 'watching': 233,
 'think': 10135,
 'carne': 10,
 'delightful': 453,
 'wasnt': 3204,
 'color': 995,
 'cooked': 6528,
 'meet': 60,
 'while': 3587,
 'turmeric': 92,
 'expectations': 94,
 'strange': 170,
 'there': 5319,
 'expecting': 354,
 'turn': 1169,
 'tweak': 212,
 'smelled': 751,
 'veggie': 810,
 'distinctly\r\ngood': 1,
 'night': 3541,
 'their': 1495,
 'each': 2356,
 'onions': 3648,
 'flavours': 640,
 'spuds': 50,
 'microwaved': 196,
 'onion': 4866,
 'lovely': 2314,
 'kittencal': 773,
 'beautiful': 1140,
 'thanksgiving': 883,
 'visiting': 129,
 'grands': 23,
 'fruit': 1196,
 'sliced': 2074,
 'morning': 1588,
 'link': 52,
 'student': 52,
 'second': 1665,
 'legumes': 6,
 'sour': 2483,
 'home': 2216,
 'look': 1603,
 'reheating': 67,
 'class': 136,
 'tobasco': 57,
 'period': 76,
 'studying': 9,
 'copy': 160,
 'many': 3194,
 'school': 441,
 'starting': 259,
 'requested': 373,
 'foods': 372,
 'cream': 7752,
 'high': 1495,
 'tortilla': 552,
 'teach': 25,
 'job': 255,
 'single': 362,
 'disliked': 21,
 'take': 2302,
 'students': 43,
 'which': 7397,
 'yummobe': 1,
 'cranberries': 590,
 'now': 5651,
 'scone': 107,
 'reheat': 180,
 'lemon': 3544,
 'crunchiness': 41,
 'recipe\r\n': 49,
 'definately': 1251,
 'heaps': 42,
 'devine': 58,
 'zest': 742,
 'gems': 53,
 'here': 2926,
 'wishing': 41,
 'got': 4138,
 'crisp': 949,
 'quest': 162,
 'coconut': 1373,
 'gourmets': 29,
 'culinary': 170,
 'momaphet': 14,
 'sitting': 368,
 's': 296,
 'batch': 2360,
 'suitcase': 17,
 'wont': 1303,
 'ridiculously': 44,
 'blasting': 2,
 'box': 710,
 'quartered': 161,
 'easily': 1056,
 'sarah': 40,
 'edition': 67,
 'avocado': 394,
 'fat': 2870,
 'does': 1868,
 'us': 3711,
 'tfc': 3,
 'dolloped': 5,
 'scarfed': 63,
 'melt': 551,
 'base': 763,
 'finely': 503,
 'philadelphia': 26,
 'canes': 36,
 'mayo': 991,
 'find': 3415,
 'winner': 1348,
 'round': 658,
 'themits': 1,
 'almond': 754,
 'lots': 1352,
 'everytime': 124,
 'rind': 149,
 'loose': 109,
 'rapberries': 1,
 'may': 2556,
 'having': 1811,
 'tin': 328,
 'menorca': 1,
 'taco': 466,
 'straightforward': 35,
 'adding': 3838,
 'guacamole': 144,
 'bite': 1070,
 'needs': 879,
 'tweaked': 171,
 'homemade': 1602,
 'spicier': 120,
 'finish': 505,
 'square': 196,
 'shine': 64,
 'comfort': 1187,
 'basil': 1425,
 'rosemary': 823,
 'under': 707,
 'overwhelming': 175,
 'cafe': 185,
 'flavorful': 2118,
 'skin': 580,
 'sooner': 81,
 'blend': 1438,
 'thighs': 592,
 'summer': 1367,
 'tee': 89,
 'garbage': 37,
 'fell': 469,
 'wasted': 80,
 'during': 997,
 'middle': 646,
 'money': 194,
 'touch': 1058,
 'convert': 56,
 'although': 1730,
 'normal': 340,
 'replace': 253,
 'pickles': 190,
 'grams': 135,
 'hey': 219,
 'hate': 426,
 'lol': 1339,
 'option': 315,
 'sounds': 482,
 'idea': 1721,
 'cucumber': 360,
 'why': 1153,
 'measurements': 257,
 'guys': 190,
 'reason': 639,
 'salad': 4598,
 'lillie': 1,
 'miss': 609,
 'kauitzsch': 1,
 'roll': 876,
 'should': 2230,
 'proud': 93,
 'amp': 611,
 'timemight': 1,
 'powder': 3515,
 'bell': 797,
 'heard': 275,
 'received': 358,
 'requests': 224,
 'poster': 93,
 'cocoa': 721,
 'freezes': 157,
 'check': 239,
 'dark': 928,
 'penzys': 9,
 'frosting': 1334,
 'sift': 31,
 'glossy': 21,
 'double': 1935,
 'amazed': 144,
 'syrup': 1435,
 'layer': 801,
 'tbsp': 927,
 'drink': 1202,
 'sharon': 319,
 'jazz': 75,
 'honor': 76,
 'grenadine': 39,
 'limes': 158,
 'lemons': 166,
 'awareness': 36,
 'everyday': 387,
 'october': 106,
 'most': 2489,
 'fits': 113,
 'breast': 813,
 'pink': 337,
 'bill': 415,
 'own': 2065,
 'lookout': 43,
 'cancer': 39,
 'worth': 1590,
 'skip': 284,
 'cuisine': 51,
 'zwt': 2451,
 'indicated': 142,
 'thing': 4681,
 'every': 2369,
 'peas': 1161,
 'kept': 1210,
 'thick': 2159,
 'shape': 329,
 'longer': 1834,
 'soaking': 138,
 'ails': 1,
 'hearty': 569,
 'garnish': 297,
 'layers': 298,
 'correct': 233,
 'moms': 274,
 'actually': 2118,
 'provides': 58,
 'must': 1635,
 'absorbed': 115,
 'takes': 623,
 'discovery': 14,
 'berries': 452,
 'raspberrie': 1,
 'mango': 320,
 'firm': 350,
 'raspberries': 332,
 'yogurts': 2,
 'mushy': 359,
 'outstanding': 1158,
 'blackberrie': 1,
 'blackberries': 129,
 'doubling': 288,
 'flavour': 1664,
 'tbs': 412,
 'staples': 48,
 'want': 2735,
 'allow': 191,
 'ahead': 719,
 'content': 265,
 'meat': 3624,
 'chiligarlic': 20,
 'pork': 2352,
 'chili': 1902,
 'doubled': 2381,
 'using': 6987,
 'written': 2572,
 'concentrate': 99,
 'floats': 6,
 'rootbeer': 9,
 'better': 6313,
 'town': 155,
 'beer': 480,
 'drivein': 3,
 'plan': 794,
 'honest': 120,
 'root': 85,
 'bland': 1363,
 ...}

In [237]:
get_by_bad == get_by_good

True

## **Сравнение**

In [231]:
%%timeit 
get_word_reviews_count(reviews)

26.6 s ± 168 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [238]:
%%timeit 
get_word_reviews_count_opt(reviews)

3.76 s ± 391 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

## **Вывод**

Время уменьшилось в $\sim 7$ раз